<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Meet Clone</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
    <script>
        const roomId = "<%= roomId %>";
        const baseUrl = "<%= baseUrl %>";
    </script>
</head>

<body>
    <div id="video-container"></div>
</body>
<script src="script.js"></script>

</html>